.App {
  text-align: flex-start;
  padding: 30px 120px;
}

.Title {
  font-size: xx-large;
  font-weight: 800;
}

.SummaryArea {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ChartArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.ScreenshotArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScreenshotImage {
  height: 50vh;
}
