.App {
  text-align: flex-start;
  padding: 30px 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Title {
  font-size: xx-large;
  font-weight: 800;
}

.Timestamp{
  text-align: left;
  padding: 5px;
  width: 160px;
  border: solid 1px black;
  border-radius: 5px;
}

.SummaryArea {
  text-align: left;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex:1;
}

.UploadBtn{
  background: white;
  padding: 10px;
  width: 130px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border: solid 1px green;
  border-radius: 5px;

  &:hover{
    cursor: pointer;
  }
}

.ChartArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 60vw;
  margin: auto;
}

.ScreenshotArea {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 30px;
  flex-direction: row;
  width: 60vw;
  margin: auto;

}

.ScreenshotImage {
  width: 30vw;
    margin: auto;
    flex: 1;
}
